.title {
    font-size: 1.75rem;
    color: #141414;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.container {
    padding: 40px 70px;
    height: 100%; 
    border-radius:  10px; 
    display: block; 
    background-color: white;
    box-sizing: border-box;
    /* max-width: 91vw; */
}

.header {
    min-height: 120px;
     border-radius: 10px;
     background-color: #f7faf5;
     display: flex;
    position: relative;    
}

.logo {
    height: 80px;
    width: 150px;
}

.logo img {
    width: 100%;
}


.rightHeader {
    display: flex;
    align-items: center;
   position: absolute;
   right: 10px;
   top: calc(50%);
   transform: translateY(-50%);
}

.user {
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.username {
    margin-left: 8px;
    font-size: 1.25rem;
}



.outerContainer {
    min-width: 82vw;
}


.navbar {
    margin-top: 40px;
    position: absolute;
    left: 20px;
    background: #a3ffbd;
    border-radius: 18px;
}

@media screen and (max-width: 1180px) {
    .container {
        padding: 20px 40px;
   
    }
    
}


@media screen and (max-width: 960px) {
    .container {
        padding: 20px 40px;
   
    }
    .title {
        display: flex;
        font-size: 1.25rem;
        color: #141414;
        font-weight: 500;
       line-height: 100%;
       align-items: center;
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        padding: 20px 0;
        margin: 0;
    }
    .title {
       display: none;
    }
    .username {
        display: none;
    }
    
.navbar {
    display: none;
}
}


@media screen and (max-width: 398px) {
    .container {
        padding: 20px 0;
        margin: 0;
    }
    
  

}
@media screen and (min-width: 2000px) {
    .container {
        padding: 80px 200px;
  
        box-sizing: border-box;
        /* max-width: 91vw; */
    }
    .title {
        font-size:3rem
    }
    .username {
        font-size: 2rem;
    }
    .outerContainer {
        margin-top: 40px;
        
    }
    
    .navbar {
        margin-top: 80px;
    }
}