@mixin mobile {
    @media screen and (max-width: 480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width: 1200px) {
        @content;
    }
}

.container {
    border: 1px solid white;
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;

    @include tablet {
        width: 90%;
    }

    .sidebar {
        flex: 1;
        position: relative;
        background-color: silver;

        .navbar {
            display: flex;
            align-items: center;
            height: 70px;
            padding: 15px;
            justify-content: space-between;

            .logo {
                font-weight: bold;

                @include tablet {
                    display: none;
                }
            }

            .user {
                display: flex;
                gap: 10px;

                img {
                    background-color: #ddddf7;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                button {
                    background-color: #5d5b8d;
                    font-size: 10px;
                    border: none;
                    cursor: pointer;

                    @include tablet {
                        position: absolute;
                        bottom: 10px;
                    }
                }
            }
        }

        .search {
            border-bottom: 1px solid gray;

            .searchForm {
                padding: 10px;

                input {
                    background-color: transparent;
                    border: none;
                    outline: none;

                    &::placeholder {
                        color: lightgray;
                    }
                }
            }
        }

        .userChat {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            &:hover {
                background-color: #2f2d52;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .chat {
        flex: 2;

        .chatInfo {
            height: 100px;
            background-color: #5d5b8d;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
        }

        .chatIcons {
            display: flex;
            gap: 10px;

            img {
                height: 30px;
                cursor: pointer;
            }
        }

        .messages {
            background-color: #ddddf7;
            padding: 10px;
            height: calc(100% - 150px);
            overflow: scroll;

            .message {
                display: flex;
                gap: 10px;

                .messageInfo {
                    display: flex;
                    flex-direction: column;
                    color: black;

                    img {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                }

                .messageContent {
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    p {
                        background-color: white;
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                        max-width: max-content;
                    }

                    img {
                        width: 50%;
                    }
                }

                &.owner {
                    flex-direction: row-reverse;
                    
                    .messageContent {
                        align-items: flex-end;
                        p {
                            background-color: #8da4f1;
                            color: white;
                            border-radius: 10px 0px 10px 10px;
                        }
                    }
                }
            }
        }

        .input {
            height: 50px;
            background-color: white;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 100%;
                border: none;
                outline: none;
                color: #2f2d52;
                font-size: 18px;

                &::placeholder {
                    color: lightgray;
                }
            }

            .send {
                display: flex;
                align-items: center;
                gap: 10px;

                img {
                    height: 24px;
                    cursor: pointer;
                }

                button {
                    border: none;
                    padding: 10px 15px;
                    color: white;
                    background-color: #8da4f1;
                    cursor: pointer;
                }
            }
        }
    }
}